numpy
scipy
pandas
scikit-learn
sympy
matplotlib
pymoo
scikit_posthocs

# pysr
juliapkg
pysr

# operon
pyoperon

# eggp
eggp

# SymRegg
symregg

# pySIPS
pysips

# QLattice
feyn

# slim GSGP
slim_gsgp
